* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div {
    width: 200px;
    height: 200px;
    background-color: blanchedalmond;
    border: 20px blueviolet solid;
    padding: 50px;
    border-radius: 10%;

}