p {
    text-align: center;
    color: green;
    background-color: grey;
    padding: 10px;
    font-size: 14px;
}
div {
    border: 20px green solid ;
    padding: 40px 30px 20px 20px;
    width: 200px;
    /* margin: 20px;*/
}
* {
    box-sizing: border-box;
}